extends layout

block content
    .row.page-header
        .col-lg-12
            h1 About Musiq
    .row
        .col-xs-12
            p Et possimus incidunt magnam sint quo.
            p Nostrum impedit harum alias sit. Quos ea ullam aspernatur qui eius sapiente. Sit perspiciatis voluptas voluptas dolores. Voluptas veniam ut impedit eum maxime debitis. Voluptatem soluta enim dolor eum nostrum blanditiis. Nam sit laborum ut repellat nostrum sunt tempore a. Aperiam labore harum delectus delectus reiciendis rem. Assumenda veritatis sed aut odit. Necessitatibus et quia id nobis et. Dolore sunt cupiditate vitae consequuntur amet temporibus.
            p Sequi et ducimus quo laborum suscipit inventore in. Blanditiis non cum officia accusamus et. Repellendus blanditiis eius ullam dolor quisquam quisquam. Odit dolores sint aut et impedit nobis nulla. Velit illum harum sunt consequuntur repellat quaerat recusandae inventore ut.