extends layout

block content
    #banner.page-header
        .row
            .col-xs-12.col-lg-6
                h1 Musiq
                    small &nbsp; Find indie events near you!
    .row
        .col-xs-12.col-lg-8
            .row.list-group
                .col-xs-12
                    img.img-responsive(src='/image/forro.jpg' alt="Maestro Forró e Orquestra Popular da Bomba do Hemetério")                  
                    .list-group-item
                        h4
                            a(href="/event") Forró Concert
                            span.badge.pull-right.badge-default 2km
                        p 243 Historic Center Street, Downtown
                        p April 23rd
                        p
                            span.label.label-info forró
                            &nbsp;
                            span.label.label-info brazil
                            &nbsp;
                            span.label.label-info folk
                            &nbsp;
        
